.header {
  padding: 25.5px 156px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  display: flex;
  align-items: center;
}
.navigationCon {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
/* .registrationCon {
    display: flex;
} */
.registrationList {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  margin-right: 72px;
  color: #434455;
}
.firstLogoWord {
  color: #4d5ae5;
}
.links {
  text-decoration: none;
  color: #434455;
  font-size: 18px;
}
.logoLink {
  text-decoration: none;
}
